$ghost-white: #fffaff;
$jet-black: #333333;

$orange-soda: #f06449;
$vivid-sky-blue: #5bc3eb;
$emerald: #7bd389;

$light: $ghost-white;
$dark: $jet-black;

$primary: $orange-soda;
$secondary: $emerald;
