<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout.html :: layout_head(~{::title})">
    <title>IoT Bay - User Profile</title>
</head>

<body>
    <header th:insert="fragments/layout.html :: navbar"></header>

    <div class="container">
        <h2 class="text-center text-dark py-4" th:text="${customer.getUserInformation().getUsername()}"></h2>

        <div class="row justify-content-center">
            <div class="col-sm">
                <h5>First Name</h5>
                <p th:text="${customer.getUserInformation().getFirstName()}"></p>
            </div>

            <div class="col-sm">
                <h5>Last Name</h5>
                <p th:text="${customer.getUserInformation().getLastName()}"></p>
            </div>
        </div>

        <div>
            <h5>Email</h5>
            <p th:text="${customer.getUserInformation().getEmail()}"></p>
        </div>

        <a th:href="@{/profile/payment}">Manage Payment Methods</a>

    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2022 - IoTBay - <a>Privacy</a>
        </div>
    </footer>

    <script src="index.js"></script>
</body>

</html>