<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout.html :: layout_head(~{::title})">
    <title>IoT Bay - User Profile</title>
</head>

<body>
    <header th:insert="fragments/layout.html :: navbar"></header>

    <div id="confirmDeleteCustomer" class="modal fade" tabindex="-1" aria-labelledby="confirmDeleteCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteCustomerLabel">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this customer?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/profile/delete/{username}(username=${customer.userInformation.username})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container flex-column">
        <div class="container-fluid p2 mb-2">
            <h2 class="text-center text-dark py-4" th:text="${customer.getUserInformation().getUsername()}"></h2>

            <a th:href="@{/profile/edit/{id}(id=${customer.id})}">Edit Profile</a>
        </div>

        <div class="container-fluid mb-2 p-2">
            <div class="row">
                <div class="col-sm">
                    <h5>First Name</h5>
                    <p th:text="${customer.getUserInformation().getFirstName()}"></p>
                </div>

                <div class="col-sm">
                    <h5>Last Name</h5>
                    <p th:text="${customer.getUserInformation().getLastName()}"></p>
                </div>
            </div>

            <div>
                <h5>Email</h5>
                <p th:text="${customer.getUserInformation().getEmail()}"></p>
            </div>
        </div>

        <div class="container-fluid p-2 mb-2">
            <a th:href="@{/profile/payment}">Manage Payment Methods</a>
        </div>

        <div class="container-fluid p-2 mb-2">
            <a class="mb-2" th:href="@{/profile/orders}">View all previous orders</a>
        </div>

        <div class="container-fluid p-2">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteCustomer">Delete</button>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2022 - IoTBay - <a>Privacy</a>
        </div>
    </footer>

    <script src="/index.js"></script>
</body>

</html>