<head th:fragment="layout_head(title)">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title th:replace="${title}">IoT Bay</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css" />
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">IoT Bay</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="shopDropdown" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelled-by="shopDropdown">
                        <li><a class="dropdown-item" href="#all-products">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#popular-items">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#new-arrivals">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/register}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/login}">Login</a>
                </li>
            
            </ul>

            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link text-dark" th:href="@{/profile}" sec:authentication="name"></a>
                </li>

                <li>
                    <a class="btn btn-outline-dark" href="javascript: document.logoutForm.submit()">Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
            
            <div class="d-flex mx-2">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </div>
        </div>
    </div>
</nav>

