<!doctype html>
<html lang="en">

<head th:replace="fragments/layout.html :: layout_head(~{::title})">
    <title>Iot Bay - create new user</title>
</head>

<body>
    <header th:insert="fragments/layout.html :: navbar"></header>

    <div class="container-md">
        <h2 class="text-center text-dark mb-2">Create User</h2>

        <div class="register-card">
            <form th:action="@{/admin/users/create}" th:object="${userForm}" method="post">
                <h2>New User</h2>

                <hr />

                <div class="register-card-body">
                    <div class="register-col-12">
                        <input id="newUserUsername" th:field="*{username}" class="form-control" type="text"
                            placeholder="ExampleUsername" aria-required="true" />
                        <label for="newUserUsername" class="form-label">Username</label>
                        <span class="text-danger" th:if="${#fields.hasErrors('username')}"
                            th:errors="*{username}"></span>
                    </div>

                    <div class="register-col-12">
                        <input id="newUserPassword" th:field="*{password}" class="form-control" type="password"
                            placeholder="Password1234" aria-required="true" />
                        <label for="newUserPassword" class="form-label">Password</label>
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"></span>
                    </div>


                    <div class="register-col-6">
                        <input id="newUserFirstName" th:field="*{firstName}" class="form-control" type="text"
                            placeholder="John" aria-required="true" />
                        <label for="newUserFirstName" class="form-label">First Name</label>
                        <span class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></span>
                    </div>

                    <div class="register-col-6">
                        <input id="newUserLastName" th:field="*{lastName}" class="form-control" type="text"
                            placeholder="Doe" aria-required="true" />
                        <label for="newUserLastName" class="form-label">Last Name</label>
                        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}"></span>
                    </div>

                    <div class="register-col-12">
                        <input id="newUserEmail" th:field="*{email}" class="form-control" type="email"
                            placeholder="JohnDoe@example.com" aria-required="true" />
                        <label for="newUserEmail" class="form-label">Email</label>
                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div>
                        <button id="newUserSubmit" type="submit"
                            class="btn btn-lg btn-primary text-light">Create User</button>
                    </div>

                    <div>
                        <p>
                            <a class="nav-link text-dark" th:href="@{/admin/users}">Back</a>
                        </p>
                    </div>
                </div>
            </form>

        </div>

        <a th:href="@{/admin/users}">Back</a>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2022 - IoTBay - <a>Privacy</a>
        </div>
    </footer>

    <script src="index.js"></script>
</body>

</html>