<!doctype html>
<html lang="en">

<head th:replace="fragments/layout.html :: layout_head(~{::title})">
  <title>iot bay - create new user</title>
</head>

<body>
<header th:insert="fragments/layout.html :: navbar"></header>

<div class="container-md">
  <h2 class="text-center text-dark mb-2">Create User</h2>

  <div class="register-card">
      <form action="#" th:action="@{/admin/users/create}" th:object="${registerForm}" method="post">
      <h2>Register</h2>
      <hr />
      <div class="register-card-body">
        <div class="register-col-12">
          <input id="regUsername" th:field="*{username}" class="form-control" type="text" placeholder="ExampleUsername" aria-required="true" />
          <label for="regUsername" class="form-label">Username</label>
          <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>

        <div class="register-col-6">
          <input id="regFirstName" th:field="*{firstName}" class="form-control" type="text" placeholder="John" aria-required="true" />
          <label for="regFirstName" class="form-label">First Name</label>
          <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>

        <div class="register-col-6">
          <input id="regLastName" th:field="*{lastName}" class="form-control" type="text" placeholder="Doe" aria-required="true" />
          <label for="regLastName" class="form-label">Last Name</label>
          <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>

        <div class="register-col-12">
          <input id="regEmail" th:field="*{email}" class="form-control" type="email" placeholder="JohnDoe@example.com" aria-required="true" />
          <label for="regEmail" class="form-label">Email</label>
          <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <div class="register-col-12">
          <input id="regPassword" th:field="*{password}" class="form-control" type="password" placeholder="Password1234" aria-required="true" />
          <label for="regPassword" class="form-label">Password</label>
          <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <div class="register-col-12">
          <input id="regPasswordConfirmation" th:field="*{passwordVerification}" class="form-control" type="password" placeholder="Password1234" aria-required="true" />
          <label for="regPasswordConfirmation" class="form-label">Password Verification</label>
          <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{passwordVerification}"></p>
        </div>

        <div>
          <button id="regSubmit" type="submit" class="btn btn-lg btn-primary text-light">Register</button>
        </div>

        <div>
          <p>
            <a class="nav-link text-dark" th:href="@{/login}">Login with existing account.</a>
          </p>
        </div>

      </div>
    </form>
  </div>

  <a th:href="@{/admin/users}">Back</a>
</div>

<footer class="footer">
  <div class="container">
    &copy; 2022 - IoTBay - <a>Privacy</a>
  </div>
</footer>

<script src="index.js"></script>
</body>

</html>
