<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout.html :: layout_head(~{::title})">
  <title>IoT Bay - Admin Portal</title>
</head>

<body>
    <header th:insert="fragments/layout.html :: navbar"></header>

    <div class="container-md">
        <h2 class="text-center text-dark">Admin Portal</h2>
    </div>

    <div class="container-md">
        <a th:href="@{/admin/users}">Manage Users</a>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2022 - IoTBay - <a>Privacy</a>
        </div>
    </footer>

    <script src="index.js"></script>
</body>

</html>