<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout.html :: layout_head(~{::title})">
    <title>IoTBay Staff DB control</title>
</head>

<body>
    <form:form method="post" modelAttribute="SubmitDB"></form:form>
    <div class="login-container">
        <span class="login-card">
          <header th:insert="fragments/layout.html :: navbar"></header>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="name"><br><br>
          <label for="lname">description:</label>
          <input type="text" id="description" name="description"><br><br>
          <label for="category">categoryID:</label>
          <input type="text" id="categoryID" name="categoryID"><br><br>
          <label for="stocklevel">stocklevel:</label>
          <input type="text" id="stocklevel" name="stocklevel"><br><br>
          <label for="orderlevel">orderlevel:</label>
          <input type="text" id="orderlevel" name="orderlevel"><br><br>
          <label for="price">price</label>
          <input type="text" id="price" name="price"><br><br>
                <input type="submit" value="Submit" id="submitdetails">
        </span>
    </div>    
</form:form>
</body>